$line-height: 1.1rem;
$min-height: 2.8rem;
$font-size: 0.9rem;
$background-color: color("secondary", 0deg, 0%, 0%, -0.95);
$border-width: 0.12rem;
$vertical-padding: 0.9rem - $border-width;
$horizontal-padding: 0.75rem;

.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 0.6rem;
  font-size: $font-size;
  padding-inline: $horizontal-padding;
  padding-block: $vertical-padding;
  min-height: $min-height;
  line-height: $line-height;
  border: 0.12rem solid color("secondary", 0deg, 0%, 0%, -0.75);
  transition: var(--transition-main);

  &[disabled] {
    opacity: 0.6;
    cursor: default;
  }
}

input,
select,
textarea {
  &.form-control {
    background: $background-color;
    color: color("bg-text", 0deg, 0%, 0%, -0.2);
    backdrop-filter: blur(35px);

    &:focus {
      outline: none;
      border-color: color("secondary", 0deg, 0%, 0%, -0.4);
    }

    &[aria-invalid="true"] {
      border-color: color("danger");
    }
  }
}

textarea.form-control {
  resize: vertical;
  max-height: 250px;
}

button.form-control {
  cursor: pointer;
  background: color("secondary");
  color: color("secondary-text");
  border-color: color("secondary");
  position: relative;

  &:not([disabled])::after {
    content: "";
    position: absolute;
    top: -$border-width;
    left: -$border-width;
    bottom: -$border-width;
    right: -$border-width;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.1);
    transition: var(--transition-main);
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }

  &.is-loading {
    > span {
      visibility: hidden;
      opacity: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 0.2rem solid transparent;
      border-top-color: currentColor;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
  }
}

.form-control-label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.validation-tooltip {
  visibility: hidden;
}

.form-control[aria-invalid="true"] + .validation-tooltip {
  display: block;
  visibility: visible;
  padding: 0.2rem 0.5rem;
  padding-inline-start: $horizontal-padding;
  color: color("danger");
  font-size: 0.8rem;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
