@import "mixins/define-color";
@import "mixins/define-font";
@import "mixins/font";
@import "functions/color";

@import "reset";
@import "themes/main";
@import "global.scss";

@import "components/form-control";
@import "components/card";

.portfolio-container {
  display: flex;
  width: auto;
  gap: var(--gap-md);

  &__column {
    gap: var(--gap-lg);
    display: flex;
    flex-direction: column;
  }
}

:root {
  --toastify-toast-width: min(calc(100vw - 2rem), 36rem) !important;
  --toastify-font-family: #{var(--font-family-primary)} !important;
}

.Toastify__toast {
  font-size: 0.9rem;

  &--success {
    --toastify-color-light: #{color("success")};
    --toastify-text-color-light: #{color("success-text")};
    --toastify-icon-color-success: #{color("success-text")};
  }
}
