@import "mixins/define-color";
@import "mixins/define-font";
@import "mixins/font";
@import "functions/color";

@import "reset";
@import "themes/main";
@import "global.scss";

@import "components/form-control";
@import "components/card";

.portfolio-container {
  display: flex;
  width: auto;
  gap: var(--gap-md);

  &__column {
    gap: var(--gap-lg);
    display: flex;
    flex-direction: column;
  }
}
