@import "@/styles/functions/color";

.about {
  display: grid;
  grid-template-columns: 16vw auto;
  grid-template-rows: min-content min-content;

  gap: var(--gap-lg);

  &__image {
    position: relative;

    img {
      object-fit: cover;
      box-shadow: -1.1rem -0.7rem 0 0.2rem color("primary");
    }
  }
}
