@import "@/styles/functions/color";

.about {
  display: grid;
  grid-template-columns: 13rem auto;
  grid-template-rows: min-content min-content;

  gap: var(--gap-lg);

  &__image {
    position: relative;

    img {
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
