@import "@/styles/functions/color";

.empty-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 18rem;

  &__title,
  &__desc {
    text-align: center;
    color: color("bg-subtext");
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  &__icon > * {
    $icon-size: 12rem;
    width: $icon-size;
    font-size: $icon-size;
    color: color("bg-subtext");
  }

  &__actions {
    margin-top: 2.6rem;
    display: flex;
    gap: var(--gap-sm);

    & > * {
      min-width: 9rem !important;
    }
  }
}
