.portfolio-item-page {
  display: grid;
  grid-template-columns: min-content auto;
  gap: var(--gap-lg);

  > * {
    min-width: 0;
  }

  section {
    min-width: 20rem;
    position: sticky;
    top: 8rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    img {
      width: 100%;
      height: auto;
      cursor: zoom-in;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    section {
      min-width: auto;
    }
  }
}
