.portfolio-item-page {
  display: grid;
  grid-template-columns: min-content auto;
  gap: var(--gap-lg);

  > * {
    min-width: 0;
  }

  section {
    min-width: 21.5rem;

    // Causes the text to overflow if it's too large. 
    //position: sticky;
    top: 8rem;

    p {
      // Make line breaks entered in the textarea input visible.
      white-space: pre-wrap;

      margin-top: 1rem;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    img {
      width: 100%;
      height: auto;
      cursor: zoom-in;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    section {
      min-width: auto;
    }
  }
}
